<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anysou.as_receiptnotice">
    <!--
    android权限（permission）大全   https://www.cnblogs.com/luoruiyuan/p/6475547.html
    定位、获取手机信息（手机号、IMEI、IMSI）、读取应用列表、相机、录音、读写手机存储、锁屏显示、后台弹出界面、显示悬浮窗、常驻通知

    GPS定位信息 (可伪造，来自Android.Permission.FINE_LOCATION)
　　基站定位   (可伪造，来自Android.Permission.COARSE_LOCATION)
　　系统自带浏览器的历史，书签(Android.Permission.BOOKMARKS)
　　联系人    (android.permission.READ_CONTACTS)
　　通话记录   (android.permission.READ_CONTACTS)
　　系统日志   (android.permission.READ_LOGS)
　　当前账户列表   (android.permission.GET_ACCOUNTS)
　　当前账户的授权码  (android.permission.USE_CREDENTIALS)
　　短信，彩信 (可能与这5个权限有关) android.permission.READ_SMS、android.permission.RECEIVE_SMS
　　　　android.permission.SEND_SMS、android.permission.WRITE_SMS、android.permission.RECEIVE_MMS
　　日历    android.permission.READ_CALENDAR
    -->

    <!--Android各种访问权限Permission详解: https://www.jianshu.com/p/f6f17befbd17 -->
    <!--监听开机权限-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- 网络访问权限
    android9.0以后，为保证用户数据和设备的安全，Google针对下一代 Android 系统(Android P) 的应用程序，将要求默认使用加密连接.
    解决方案，参考 https://www.jianshu.com/p/fd0b0fd0e34c -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--SD卡读写权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--屏幕保持唤醒，一种锁的机制，只要有进程持有这个锁，系统就无法进入休眠状态-->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!--IMEI(可伪造)\IMSI(可伪造)\SIM卡序列号(可伪造)\手机号码(可伪造)\来，去电号码\SIM卡信息\当前蜂窝网络信息-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--访问WIFI状态-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--访问蓝牙权限-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!--android 9.0上使用前台服务，需要添加权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <!-- 只允许访问https，不能直接访问http。处理方法在application 加 networkSecurityConfig
         name = MainApplication 首先启动。
         theme = @style/Theme.AppCompat.Light.NoActionBar 主题
         标题文字： 英文 -> res\values\strings.xml  中文 -> res\values-zh\strings.xml
         persistent="true" : 常驻应用 1)在系统刚起来的时候，该App也会被启动起来
            2)该App被强制杀掉后，系统会重启该App。这种情况只针对系统内置的App，第三方安装的App不会被重启。
    -->
    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/server"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:persistent="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!--注册一个静态广播，并添加权限，实现开机自启动-->
        <receiver android:name=".AutoReceiver" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!-- 主界面，首界面 android.intent.category.LAUNCHER -->
        <activity android:name=".MainActivity" android:process=":main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


<!-- 注册服务：
android:name　　      服务类名
android:label　　     服务的名字，如果此项不设置，那么默认显示的服务名则为类名
android:icon　　      服务的图标
android:permission   申明此服务的权限，这意味着只有提供了该权限的应用才能控制或连接此服务
android:process　　   表示该服务是否运行在另外一个进程，如果设置了此项，那么将会在包名后面加上这段字符串表示另一进程的名字. (应用对远程服务才有效)
android:enabled　　   如果此项设置为 true，那么 Service 将会默认被系统启动，不设置默认此项为 false
android:exported　    表示该服务是否能够被其他应用程序所控制或连接，不设置默认此项为 false
-->

        <!-- 注册服务：通知监听服务、根据配置获的唤醒锁、根据配置进行Echo实时通信 -->
        <service android:name=".NotificationCollectorMonitorService"
            android:enabled="true"  android:exported="true"  android:process=":ncms"/>


        <!-- 注册服务，通知监听服务，获取权限：permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" -->
        <service
            android:name=".NLService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"  >
            <!--对于intent-filter可以通过android:priority = "1000"这个属性设置最高优先级，1000是最高值，如果数字越小则优先级越低-->
            <intent-filter android:priority="1000">
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>


        <!-- logcat 好像可以不写此句 -->
        <activity android:name="com.github.pedrovgs.lynx.LynxActivity" />

        <!-- 偏好设置界面 -->
        <activity android:name=".PreferenceActivity" />

        <!-- 解密说明界面 -->
        <activity android:name=".IllustrateDecryptActivity" android:label="@string/illustratedecrypt_title">
            <intent-filter>
                <!--action name 定义一个action组件名称，用于被其他组件调用，与 pref_general.xml 里内容对应一致 -->
                <action android:name="com.anysou.as_receiptnotice.illustratedecryptmethod"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--日志记录管理界面-->
        <activity android:name=".FileLogActivity" android:label="@string/filelog_title">
            <intent-filter >
                <!--action name 定义一个action组件名称，用于被其他组件调用，与 pref_general.xml 里内容对应一致 -->
                <action android:name="com.anysou.as_receiptnotice.showfilelog"/>
            </intent-filter>
        </activity>


        <!--指定该应用程序必须链接的共享类库。这个元素告诉系统该应用程序包的类装载器中所包含的类库代码。
        android:name="org.apache.http.legacy" 用于指定类库的名称
        android:required 指定应用程序是否需要有android:name属性所指定的类库。
        true：没有这个库应用程序无法工作。如果用户设备设备上没有这个类库，系统不允许该应用程序安装在这个设备上。
        false：如果该类库存在，则应用程序能够使用这个类库，但是如果有必要，也可以设计成没有该类库，应用程序也能够工作。
          系统会允许应用程序安装，即使该类库不存在。如果使用false，就要在运行时对类库的有效性进行必要的检查。对于类库的检查，可以使用反射机制来判断一个具体的类是否有效。
        -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

    </application>

</manifest>



